<%= form_with(model: link) do |form| %>
  <% if link.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
        <% link.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>

  <div>
    <% if params[:category_id] %>
      <p class="locked-category">Category: <strong><%= Category.find(params[:category_id]).name %></strong></p>
      <%=form.hidden_field :category_id, value: params[:category_id] %>
    <% else %>
      <%= form.collection_select :category_id, Category.all, :id, :name, prompt: "Select a category"  %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
